

{% extends 'pages\base.html' %}
 
{% block content %}


     <h1>Admin Dashboard</h1>
     <br>
    <form action="" method=POST>
    {% csrf_token %}
   
    <div class="card">
        <div class="card-header">
          Event - Venue - User  Count  List
        </div>
        <div class="card-body">
            <p class="card-text">    Event  count : {{event_count}}</p>
            <p class="card-text">    Venue  count :  {{venue_count}}</p>
          <p class="card-text">      User   count :    {{user_count}}</p>
        </div>
      </div>
      <br>
      <br>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Venue Name</th>
            <th scope="col">Events</th>
          </tr>
        </thead>
        <tbody>

            {% for venue in  venue_list %}

            <tr>

                <td>    <a href= "{% url 'show-venue' venue.id %}">{{venue}}</a> <br></td>
                <td><a href="{% url 'venue-events' venue.id %}" class= "btn btn-sm btn-secondary">List Events</a></td>

            {% endfor %}

        </thead>
        </table>







    <br>
    <br>
    <h1> Event Approval form </h1>
    <br>
    <br>
     <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Aproved</th>
          </tr>
        </thead>
        <tbody>

            {% for event in  event_list %}

            <tr>

                <td>{{event}}<br></td>
                <td>

                    {% if event.approved %}

                    <div class="form-check">
                        <input class= "form-check-input" type = "checkbox" checked="checked"
                        value = {{event.id}} name = "boxes">
                    </div>
                    {% else %}
                    <div class="form-check">
                        <input class= "form-check-input" type = "checkbox" 
                        value = {{event.id}} name = "boxes">
                    </div>
                    
                    {% endif %}
                </td>

            {% endfor %}

        </thead>
        </table>
        <br>

        <button class= "btn btn-secondary" type="submit"> Update Approval </button>
        
        <br>
        <br>
        <br>
        <br>



{% endblock %}
 
    

