<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "home" "2022" "APRIL"%}">Calendar</a>
          </li>


        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url "events"%}"> All Events</a></li>
            {% if user.is_authenticated %}

            <li><a class="dropdown-item" href="{% url "add-event"%}">Add  Events</a></li>
            <li><a class="dropdown-item" href="{% url "my_events"%}">My_Events</a></li>

           
            {% endif %}
          </ul>
        </li>


      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Venues
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url "list_venues"%}"> All Venues</a></li>
          {% if user.is_authenticated %}

          <li><a class="dropdown-item" href="{% url "add-venue"%}">Add_Venue</a></li>

          {% endif %}


        </ul>
      </li>
            
              
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Downloads
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url "venue_text"%}">Venue TEXT File</a></li>
              <li><a class="dropdown-item" href="{% url "venue_csv"%}">Venue CSV File</a></li>
              <li><a class="dropdown-item" href="{% url "venue_pdf"%}">Venue PDF File</a></li>
             
            </ul>
          </li>

          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "admin_approval"%}">Admin</a>
          </li>


          {% endif %}
      
             
              {% if user.is_authenticated %}

            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "logout" %}">Logout</a>
              </li>


              {% else %}
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "register_user" %}">Register_User</a>
              </li>
              

              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "login" %}">Login</a>
                </li>


              {% endif %}
        </ul>
        <form class="d-flex" , mothod = POST
        action = " {% url "search-venues" %}">
        {% csrf_token %}
        

           <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search" name="searched">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>